.idea/OnlineShopPHP.iml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/sqldialects.xml
